body{
  font-family: Arial, Verdana, sans-serif;
}

/* ---HEADINGS--- */
h1, h2, h3{
	font-size: 2.5em;
	font-family: Georgia, Times, serif;
    /* shorten = font: 2.5em Georgia, Times, serif; */
    font-weight: bold;
  	color: #FF8831; 
  	text-shadow: 2px 2px #666666; /* shorten #666 */
}

h2{
  font-family: Gill Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #FFF0A5; 
}

h3{
  font-size:1.5em;
}

/* ---PARAGRAPHS, LINKS--- */
a:link{
  color: #468966;
  text-decoration: underline;
}

a:hover{
  text-decoration: underline;
}

p:{
  line-height: 1.4;
}

#intro{
  font-weight: bold;
}

#credits{
  font-style: italic;
  text-align: right;
}